.popup {
  position: fixed;
  background-color: rgb(0, 0, 0, 0.25);
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.popup-content {
  background-color: white;
  position: absolute;
  padding: 40px;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 40px);
  overflow-y: scroll;
  margin: 20px 0;

  width: 90%;
  max-width: 700px;
}

.popup-content::-webkit-scrollbar {
  display: none;
}

.popup-exit-button {
  position: absolute;
  top: 20px;
  right: 40px;
  cursor: pointer;
}

@media only screen and (min-width: 900px) {
  .popup-exit-button {
    right: 20px;
  }
}

.popup-exit-button:hover {
  fill: crimson;
}

.popup-title {
  font-size: 34px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.popup-text {
  background-color: #e9e9e9;
  padding: 20px;
  margin-top: 10px;
}

.popup-links {
  font-size: 14px;
}

.popup-links a {
  display: block;
  margin: 5px 0 0;
  overflow-x: hidden;
}

.popup-images {
  padding: 10px;
}

.thumbs-wrapper {
  display: none;
}

.popup-techs {
  padding-top: 10px;
  text-align: center;
}

.popup-tech {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  background-color: white;
  color: crimson;
  font-weight: bold;
  font-size: 14px;
}
