#projects {
  background-color: #f5f5f5;
}

.project-list {
  margin: 20px auto;
  max-width: 768px;
}

.project-tile {
  height: 300px;
  background-color: lightskyblue;
  background-size: cover;
  background-position: center;
  width: 100%;
  max-width: 100%;
}

.project-info {
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  text-align: center;
  padding: 0 10%;
  z-index: 0;
}

.project-info:hover {
  opacity: 1;
}

.sticky {
  z-index: 99;
}

.project-content {
  height: 75%;
}

.project-title {
  padding-top: 25px;
  font-size: 30px;
}

.project-text {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: auto;
}

.project-tech {
  color: crimson;
  background-color: rgb(255, 255, 255, 0.6);
  display: inline-block;
  padding: 3px;
  font-weight: bold;
  margin: 5px;
  font-size: 14px;
}

.project-link {
  font-size: 18px;
  border: 2px solid white;
  display: block;
  padding: 8px;
  cursor: pointer;
  text-transform: uppercase;
  width: 50%;
  margin: 5px auto;
}

@media only screen and (min-width: 768px) {
  .project-tile {
    width: 50%;
  }

  /* Centre final tile if odd number */
  .project-tile:last-child:nth-child(odd) {
    margin-left: 25%;
  }
}

@media only screen and (min-width: 1200px) {
  .project-tile {
    width: 33.3%;
  }

  .project-list {
    max-width: 100%;
  }
}
