#skills {
  background-color: white;
}

.skills-wrap {
  max-width: 1000px;
  margin: auto;
}

.skill-box {
  height: 360px;
  margin-bottom: 20px;
  width: 50%;
  float: left;
}

.skill-logo {
  width: 120px;
  margin: 20px auto;
}

.skill-text {
  width: 80%;
  margin: auto;
  text-align: center;
}

.skill-title {
}

.skill-content {
  font-size: 14px;
}

@media only screen and (min-width: 1200px) {
  .skill-box {
    width: 25%;
  }
}
