#skills {
  background-color: white;
}

.skills-wrap {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills-wrap > div {
  width: 250px;
}

.skill-box {
  height: 360px;
  margin-bottom: 20px;
  float: left;
}

.skill-logo {
  width: 120px;
  margin: 20px auto;
}

.skill-text {
  width: 80%;
  margin: auto;
  text-align: center;
}

.skill-title h1 {
  font-size: 1.25em;
}

.skill-content {
  font-size: 14px;
}
