#qualifications {
  background-color: white;
}

.qualifications-wrap {
  max-width: 1000px;
  margin: auto;
}

.qualification-box {
  height: 360px;
  margin-bottom: 20px;
  /* background-color: lightgray; */
}

.qualification-logo {
  width: 120px;
  margin: 20px auto;
}

.qualification-text {
  width: 80%;
  margin: auto;
  text-align: center;
}

.qualification-title {
}

.qualification-content {
  font-size: 14px;
}
